<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zzu.mapper.DeviceMaintenanceCycleDoMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zzu.domain.DeviceMaintenanceCycleDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="maintenance_cycle" property="maintenanceCycle" jdbcType="VARCHAR" />
    <result column="maintenance_type" property="maintenanceType" jdbcType="VARCHAR" />
    <result column="maintenance_desc" property="maintenanceDesc" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, device_name, maintenance_cycle, maintenance_type, maintenance_desc, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device_maintenance_cycle
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_maintenance_cycle
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.edu.zzu.domain.DeviceMaintenanceCycleDo" >
    insert into device_maintenance_cycle (id, device_id, device_name, 
      maintenance_cycle, maintenance_type, maintenance_desc, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{maintenanceCycle,jdbcType=VARCHAR}, #{maintenanceType,jdbcType=VARCHAR}, #{maintenanceDesc,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zzu.domain.DeviceMaintenanceCycleDo" >
    insert into device_maintenance_cycle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="maintenanceCycle != null" >
        maintenance_cycle,
      </if>
      <if test="maintenanceType != null" >
        maintenance_type,
      </if>
      <if test="maintenanceDesc != null" >
        maintenance_desc,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCycle != null" >
        #{maintenanceCycle,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceType != null" >
        #{maintenanceType,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDesc != null" >
        #{maintenanceDesc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zzu.domain.DeviceMaintenanceCycleDo" >
    update device_maintenance_cycle
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCycle != null" >
        maintenance_cycle = #{maintenanceCycle,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceType != null" >
        maintenance_type = #{maintenanceType,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDesc != null" >
        maintenance_desc = #{maintenanceDesc,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zzu.domain.DeviceMaintenanceCycleDo" >
    update device_maintenance_cycle
    set device_id = #{deviceId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      maintenance_cycle = #{maintenanceCycle,jdbcType=VARCHAR},
      maintenance_type = #{maintenanceType,jdbcType=VARCHAR},
      maintenance_desc = #{maintenanceDesc,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>