<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zzu.mapper.DeviceLeaseInfoDoMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zzu.domain.DeviceLeaseInfoDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lease_principal" property="leasePrincipal" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="lease_expense" property="leaseExpense" jdbcType="INTEGER" />
    <result column="lease_contract" property="leaseContract" jdbcType="VARCHAR" />
    <result column="lease_organization_id" property="leaseOrganizationId" jdbcType="VARCHAR" />
    <result column="lease_organization_name" property="leaseOrganizationName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, device_name, status, lease_principal, start_date, end_date, lease_expense, 
    lease_contract, lease_organization_id, lease_organization_name, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device_lease_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_lease_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.edu.zzu.domain.DeviceLeaseInfoDo" >
    insert into device_lease_info (id, device_id, device_name, 
      status, lease_principal, start_date, 
      end_date, lease_expense, lease_contract, 
      lease_organization_id, lease_organization_name, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{leasePrincipal,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{leaseExpense,jdbcType=INTEGER}, #{leaseContract,jdbcType=VARCHAR}, 
      #{leaseOrganizationId,jdbcType=VARCHAR}, #{leaseOrganizationName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zzu.domain.DeviceLeaseInfoDo" >
    insert into device_lease_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="leasePrincipal != null" >
        lease_principal,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="leaseExpense != null" >
        lease_expense,
      </if>
      <if test="leaseContract != null" >
        lease_contract,
      </if>
      <if test="leaseOrganizationId != null" >
        lease_organization_id,
      </if>
      <if test="leaseOrganizationName != null" >
        lease_organization_name,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="leasePrincipal != null" >
        #{leasePrincipal,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaseExpense != null" >
        #{leaseExpense,jdbcType=INTEGER},
      </if>
      <if test="leaseContract != null" >
        #{leaseContract,jdbcType=VARCHAR},
      </if>
      <if test="leaseOrganizationId != null" >
        #{leaseOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="leaseOrganizationName != null" >
        #{leaseOrganizationName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zzu.domain.DeviceLeaseInfoDo" >
    update device_lease_info
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="leasePrincipal != null" >
        lease_principal = #{leasePrincipal,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaseExpense != null" >
        lease_expense = #{leaseExpense,jdbcType=INTEGER},
      </if>
      <if test="leaseContract != null" >
        lease_contract = #{leaseContract,jdbcType=VARCHAR},
      </if>
      <if test="leaseOrganizationId != null" >
        lease_organization_id = #{leaseOrganizationId,jdbcType=VARCHAR},
      </if>
      <if test="leaseOrganizationName != null" >
        lease_organization_name = #{leaseOrganizationName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zzu.domain.DeviceLeaseInfoDo" >
    update device_lease_info
    set device_id = #{deviceId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      lease_principal = #{leasePrincipal,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      lease_expense = #{leaseExpense,jdbcType=INTEGER},
      lease_contract = #{leaseContract,jdbcType=VARCHAR},
      lease_organization_id = #{leaseOrganizationId,jdbcType=VARCHAR},
      lease_organization_name = #{leaseOrganizationName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>